@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yapılacaklar!</h1>
   <ul>
       <li>Bll katmanında entitylere ait repositoryler oluşturulacak.</li>
       <li>Her bir reposityorye karşılık controller tanımlanacak.</li>
       <li>Admin isminde area oluşturulacak.</li>
       <li>Navbarda sepete'e ait ikon ya da link dahil edilecek</li>
       <li>Admin area'da repositorylere karşılık gelen menüler oluşturulacak.
        <ol>
            <li>Kategori Listeleme</li>
            <li>Oluşturma</li>
            <li>Silme</li>
            <li>Güncelleme</li>
        </ol>
       
       </li>
   </ul>
</div>
